langchain
torch
accelerate
sentence_transformers
streamlit_chat
streamlit
faiss-cpu
tiktoken
ctransformers
huggingface-hub
pypdf
python-dotenv
replicate
docx2txt
unstructured
pdf2image
pdfminer.six
opencv-python
unstructured_inference
pikepdf
streamlit
boto3
opencv-python
pillow
PyPDF2
pdf2image
reportlab
pillow-heif
python-pptx==0.6.23
pypandoc==1.13
pandoc==2.3
pandas==1.5.1
openpyxl==3.0.10
xlrd==2.0.1
langchain-experimental==0.0.51
